<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<title>About Hotel 101</title>
<body>
	<h1>Hotel 101</h1>
	<h2>Owner: Steven Lee</h2>
	<img src="owner.jpg"></img>
	<p> Hotel 101 was established in the year 2010 by Steven Lee. It has beautiful amenities for its guests, such as a swimming pool, basketball court and free hotel maintenance. </p>
	<p> Come and Reserve a Room today!!!</p>
</body>
</html>
