<html>
<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<title>Hotel 101</title>
<body>
	<h1><marquee direction="right">Hotel 101, Reserve Now!!!!!</marquee></h1>
	<img src= "hotel.jpg"></img>
	<h2>What do you want to do:</h2>
	<ol>
		<li><a href="/about">Learn About Hotel 101</a></li>
		<li><a href="/rooms">List of Room Types Available</a></li>
		<li><a href="/res">Reserve a Room</a></li>
	</ol>
</body>
</html>
