<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<title>List of Rooms Available</title>
<body>
	<h1>Hotel 101</h1>
	<h2>List of Rooms Available:</h2>
	<ol>
		<li>Hotel Condo: Good for 6-8 people</li>
		<h3>Available Rooms: 5</h3>
		<h4>To be able to fit more people, you can reserve some mattresses</h4>
		<img src="condo.jpg" height="200" width="500"></img>
		<li>Hotel Suite: Good for 4-6 people</li>
		<h3>Available Rooms: 10</h3>
		<img src="Hotel Suite 1.jpg" height="200" width="500"></img>
		<li>Room 101: Good for 2-3 people</li>
		<h3>Available Rooms: 20</h3>
		<img src="HotelRoom2.jpg" height="200" width="500"></img>
	</ol>
</body>
</html>
